{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<link rel="stylesheet" href="/static/css/room.css">
<style>
    .connected-user {
        color: white;
    }
    body{
        color: white;
    }
    .upper{
        display: flex;
    }
    .upper div{
        margin: 0px auto;
    }

</style>
<section class="upper">
    <div class="connection_status">
        <span>Friend Status: </span>
        <span id="friend_connection_status"></span>
    </div>
    <div class="connection_status">
        <span>Status: </span>
        <span id="connection_status"></span>
    </div>
</section>
<div id="chat-log"></div>
<div class="input-container">
    <input id="chat-message-input" type="text" size="100">
    <!-- <input id="chat-message-submit" type="button" value="Send"> -->
    <button id="chat-message-submit" value="Send">
        <img src="/static/icons/send.png" alt="Send">
    </button>
</div>


{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/personal/chat/'
        + '69'
        + '/'
    );
    function updateScroll() {
        var element = document.getElementById("chat-log");
        element.scrollTop = element.scrollHeight;
    }

    var block_to_insert;
    var container_block;

    var request_user = "{{request.user.first_name}} {{request.user.last_name}}";
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const received_message = data.message;
        var connected_user_count = data.connected_user_count;
        var connection_status = 'Connected';
        document.getElementById("connection_status").innerHTML = connection_status;
        document.getElementById("friend_connection_status").innerHTML = friend_connection_status;

        console.log("ye h connection status: "+connection_status)
        console.log("ye h user count: "+connected_user_count)
        if (connection_status == "Connected" && connected_user_count == 2){

            document.getElementById("friend_connection_status").innerHTML = "Connected"
        }
        else{
            document.getElementById("friend_connection_status").innerHTML = 'Disconnected';
        }
        if (received_message != null) {
            block_to_insert = document.createElement('div');
            if (received_message == sending_message) {
                block_to_insert.className = 'right';
                block_to_insert.innerHTML = received_message.split(":")[1];
            }
            else {
                block_to_insert.className = 'left';
                block_to_insert.innerHTML = received_message.split(":")[1];
            }

            container_block = document.getElementById('chat-log');
            container_block.appendChild(block_to_insert);
            updateScroll();
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
        document.getElementById("connection_status").innerHTML = 'Disconnected';
        document.getElementById("friend_connection_status").innerHTML = 'Disconnected';
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    var sending_message;
    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        sending_message = "{{request.user.first_name}} : " + message;
        chatSocket.send(JSON.stringify({
            'message': sending_message,
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock body %}